@use "../src/sass/variables.scss" as *;

.header{
    background-color: #E39F0B;
    font-weight: 700;
    color:white;
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include display-flex;
}
.header__leftSide{
    display:flex;
}
.header__list{
    list-style: none;
    @include display-flex;
    
}
.header__list li:hover{
    color:gray;
    cursor:pointer;
}
.header__list li{
    margin-left:30px;
}
.header__cart{
    @include display-flex;
    margin-right:20px;
    
}
.header__cart h4:hover{
    cursor:pointer;
    color:gray;
}